body,
div {
    direction: ltr !important;
}

.el-input__prefix-inner>:last-child {
    margin-right: 8px !important;
    margin-left: 0 !important;
}

.el-button+.el-button {
    margin-left: 12px;
    margin-right: 0 !important;
}

.menu-item .menu-icon {
    margin-right: 20px !important;
}

.el-divider__text.is-center {
    right: 0 !important;
    left: 50% !important;
    transform: translateX(-50%) translateY(-50%) !important;
}

.text-right {
    text-align: right;
}